.product-list{
                         display: flex;
                         gap: 8px;
                         flex-wrap: wrap;
                         justify-content: space-around;
                           
}